<div class="document-list-container">
    <h2>Document List</h2>
    <button class="add-button" (click)="openAddModal()">Add Document</button>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents">
          <td>{{ document.name }}</td>
          <td>{{ document.description }}</td>
          <td>
            <ng-container [ngSwitch]="document.type">
              <span *ngSwitchCase="types.PDF">PDF</span>
              <span *ngSwitchCase="types.DOC">DOC</span>
              <span *ngSwitchCase="types.CSV">CSV</span>
              <span *ngSwitchDefault>Unknown</span>
            </ng-container>
          </td>
          <td>
            <button (click)="editDocument(document)">Edit</button>
            <button (click)="deleteDocument(document.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Modal for adding a new document -->
    <div class="modal" *ngIf="isModalOpen">
      <div class="modal-content">
        <h3>Add New Document</h3>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="newDocument.name" />
        <label for="description">Description:</label>
        <input id="description" [(ngModel)]="newDocument.description" />
        <label for="type">Type:</label>
        <select id="type" [(ngModel)]="newDocument.type">
            <option *ngFor="let type of types | keyvalue" [ngValue]="+type.value">{{ type.key }}</option>
          </select>
        <button (click)="addDocument()">Add</button>
        <button (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>